language: ruby

cache:
  bundler: true
  directories:
    - node_modules
  yarn: true

rvm:
  - 3.0.0

services:
  - postgresql
  - redis-server

addons:
  postgresql: 13
  apt:
    packages:
      - postgresql-13
      - postgresql-client-13

env:
  global:
    - PGPORT=5433
    - CC_TEST_REPORTER_ID=e360f84de7076f58cf70acfc5335d7ddde2232bee661bd6438f2960bdd31be7f
    - CODE_CLIMATE_API_URL: https://api.codeclimate.com/v1
    - CODE_CLIMATE_API_ORG_NAME: hdamico

install:
  - bundle install
  - nvm install node
  - node -v
  - npm i -g yarn
  - yarn

before_script:
  - psql -c 'create database bicycle_shop_travis;' -U travis
  - psql -U travis -q -d bicycle_shop_travis -f db/structure.sql
  - cp config/database.yml.travis config/database.yml
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - bundle exec rails webpacker:compile
  - bundle exec rspec
  - bundle exec rake code_analysis
  - yarn run lint

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
